.h1--heading {
  font-weight: var(--font-weight-semibold);
  font-size: var(--font-size-xl);
  color: var(--color-text-heading);
}

.main-h2 {
  font-weight: var(--font-weight-semibold);
  font-size: var(--font-size-22);
  color: var(--color-text-place-holder);
}

input[type="checkbox"] {
  -webkit-appearance: revert;
  appearance: revert;
  cursor: pointer;
}
