@use "../components/_variables";
@use "../components/_reset";
@use "../components/_global";

.container {
  width: 100%;
  min-height: 100vh;
  background-color: var(--color-bg-r-c);
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup {
  padding: 0 5rem;
  padding-top: 9.3rem;
  padding-bottom: 9rem;
  min-height: 100vh;
  align-self: stretch;
  background-color: var(--color-bg-white);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login {
  padding-top: 20rem;
  padding-bottom: 21.9rem;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4rem;
}

.imageSection {
  width: 100%;
  align-self: stretch;

  @media (max-width: 900px) {
    display: none;
  }
}

.inLogin {
  padding: 25.5rem 0;
}

.inSignup {
  padding: 34.1rem 0;
}

.sImg {
  margin-left: 16.408rem;
  width: 69.39241943359375rem;
  height: 42.7224365234375rem;
}

.lImg {
  margin-left: 18.8rem;
  width: 64.7rem;
  height: 60.2rem;
}

.ctaBtns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.2rem;
}

.cta {
  margin-top: 6rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: var(--color-bg-r-c);
  border-radius: var(--radius-md);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-md);
  color: var(--color-text-place-holder);
}

.google {
  width: 16.4rem;
}

.facebook {
  width: 16.2rem;
}

.separator {
  margin-top: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.4rem;

  &__bar {
    width: 15.1rem;
    height: 0;
    border: 0.1rem solid var(--color-text-place-holder);
    opacity: 10%;
  }

  &__txt {
    color: var(--color-text-place-holder);
    font-weight: var(--font-weight-semibold);
    font-size: var(--font-size-md);
  }
}

.form {
  margin-top: 3rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.label {
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-md);
  margin-bottom: 0.9rem;
  color: var(--color-text-place-holder);
}

.input {
  background-color: var(--color-bg-r-c);
  width: 100%;
  height: 5rem;
  border-radius: var(--radius-md);
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-base);
  color: var(--color-text-place-holder);
  padding-left: 1.5rem;
  margin-bottom: 2.5rem;
  opacity: 70%;

  &::placeholder {
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-base);
    color: var(--color-text-place-holder);
  }
}

.input-wrapper {
  position: relative;
}

.toggle-icon {
  position: absolute;
  top: 2rem;
  right: 1.5rem;
}

.input-terms {
  margin-top: 0.5rem;
  display: flex;
  align-items: flex-start;
  gap: 1rem;

  input[type="checkbox"] {
    margin-top: 0.4rem;
  }
}

.text {
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-md);
  color: var(--color-text-place-holder);
}

.link,
.link:visited {
  text-decoration: underline;
  color: var(--color-primary);
}

.submitBtn {
  margin-top: 1rem;
  padding: 1.4rem 0;
  width: 100%;
  text-align: center;
  background-color: var(--color-primary);
  border-radius: var(--radius-md);
  color: var(--color-bg-white);
  font-weight: var(--font-weight-semibold);
  font-size: var(--font-size-md);
}

.l {
  margin-top: 3rem;
}

.input-c {
  display: flex;
  justify-content: space-between;
}

.check {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.al,
.al:visited {
  text-decoration: none;
}
